[delta]
	line-numbers = true
	side-by-side = true
[push]
	default = current
[fetch]
	prune = true

[user]
	email = mail@simon-trockel.de
	name = Simon Trockel
	signingkey = 83C4B36D191A09E844B4DD70477646481F480F32
[includeIf "gitdir:code/MMS/"]
  	path = .gitconfig-mms
[credential "https://github.com"]
	helper = !gh auth git-credential
[alias]
	plog = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	yolo = !git add -A && git commit -m \"$(curl -fsSL http://whatthecommit.com/index.txt)\"
[fetch "origin"]
	prune = true
[pull]
	rebase = true
[commit]
	gpgsign = false