// zellij theme: catppuccin-mocha
// Loaded by ~/.config/zellij/config.kdl via `theme "catppuccin-mocha"`.
// Managed by chezmoi (dot_config/zellij/themes/catppuccin-mocha.kdl).
// Palette: https://catppuccin.com (Mocha)

text "#cdd6f4"
text_unselected "#6c7086"
text_selected "#1e1e2e"
text_inactive "#6c7086"

background "#1e1e2e"
current_bg "#313244"
current_fg "#cdd6f4"
selected_bg "#45475a"
selected_fg "#cdd6f4"

cmd_bg "#181825"
cmd_fg "#cdd6f4"
cmd_placeholder "#6c7086"
cmd_autocomplete_bg "#313244"
cmd_autocomplete_fg "#cdd6f4"
cmd_autocomplete_selected_bg "#585b70"
cmd_autocomplete_selected_fg "#cdd6f4"

border "#585b70"
border_focused "#89b4fa"
frame_bg "#1e1e2e"
frame_fg "#a6adc8"
scrollbar_track "#313244"
scrollbar_thumb "#585b70"
selection_bg "#585b70"
selection_fg "#cdd6f4"
block_fg "#cba6f7"
block_bg "#181825"
copy_selection_bg "#585b70"
copy_selection_fg "#cdd6f4"

black "#45475a"
red "#f38ba8"
green "#a6e3a1"
yellow "#f9e2af"
blue "#89b4fa"
magenta "#cba6f7"
cyan "#94e2d5"
white "#bac2de"
orange "#fab387"
